* {
  box-sizing: border-box;
}

:root {
  --board-size-cols: 1;
  --board-size-rows: 1;
  --box-size: 100px;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
}

#board-container {
  margin: 10px 0;
}

.board {
  width: calc(var(--board-size-cols) * var(--box-size));
  height: calc(var(--board-size-rows) * var(--box-size));
  display: grid;
  grid-template-columns: repeat(var(--board-size-cols), 1fr);
  grid-template-rows: repeat(var(--board-size-rows) 1fr);
  grid-gap: calc(var(--box-size) / 20);
}

.block {
  background-color: rgb(170, 170, 170);
}

.selected {
  background-color: black;
}

.success {
  outline: 5px solid green;
}

.error {
  background-color: red;
}
